border-style
.MainPrime{
    padding: 100%;
    background-color: green;
}

body{
    margin-top: 2%;
    background-color: lightyellow;
    border-style: outset;
    border-color: darkslategrey;
}
.MainSecond{
    padding: 1%;
    background-color: slategray;
}
.inputsec{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 10%;
    background-color: darkslategrey;
    text-align: center;
}

