border-style
.MainPrime{
    text-align: right;
    font-size: 20px;
}

body{
    margin-top: 2%;
    background-color: lightyellow;
    border-style: outset;
    border-color: darkslategrey;
}
.Main{
    margin: 0%;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 50%;
    padding-top: 1%;
    background-color: slategray;
}

.Buttons{
    background-color: palegreen;
}
.inputsec{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 10%;
    background-color: darkslategrey;
    text-align: center;
}
#menu{
    display: -moz-grid-line;
}

#Button{
    background-color: greenyellow;
}

